<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ankitguglani.samples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.ankitguglani.samples.SamplesApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
        <!-- Broadcast receiver to process widget updates -->
        <receiver 
            android:name="com.ankitguglani.samples.widgets.NotesWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/notes_widget_provider"/>
        </receiver>

        <activity
            android:name="com.ankitguglani.samples.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ankitguglani.samples.SplashActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ankitguglani.samples.SamplesListActivity"
            android:label="@string/title_activity_samples_list" >
            <intent-filter>
                <action android:name="com.ankitguglani.samples.SamplesListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ankitguglani.samples.notes.NotesListActivity"
            android:label="@string/title_activity_notes_list" >
            <intent-filter>
                <action android:name="com.ankitguglani.samples.notes.NotesListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ankitguglani.samples.notes.EditNoteActivity"
            android:label="@string/title_activity_notes_edit" >
            <intent-filter>
                <action android:name="com.ankitguglani.samples.notes.EditNoteActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ankitguglani.samples.camera.PictureActivity"
            android:label="@string/title_activity_picture"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.ankitguglani.samples.camera.PictureActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ankitguglani.samples.notification.NotificationBarActivity"
            android:label="@string/title_activity_notification" >
            <intent-filter>
                <action android:name="com.ankitguglani.samples.notification.NotificationBarActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.ankitguglani.samples.webserver.HostIPActivity"
            android:label="@string/title_activity_host_ip" >
            <intent-filter>
                <action android:name="com.ankitguglani.samples.webserver.HostIPActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    
    </application>

</manifest>